/* src/Login.css */
body {
    margin: 0;
    font-family: "Arial", sans-serif;
    height: 100vh;
    background-color: #f3f4f6;
  }
  
  .login-container {
    display: flex;
    width: 100%;
    height: 100%; /* Asegura que ocupa toda la altura */
  }
  
  .login-left {
    background-color: #043927;
    color: white;
    flex: 1; /* Ocupa la mitad de la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
  }
  
  .login-left h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .login-left span {
    font-weight: bold;
  }
  
  .divider {
    width: 100px;
    height: 2px;
    background-color: white;
    margin-top: 20px;
  }
  
  .login-right {
    flex: 1; /* Ocupa la otra mitad de la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }
  
  .login-box {
    width: 100%;
    max-width: 400px; /* Limita el ancho máximo del formulario */
  }
  
  .login-box img {
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    display: block;
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 8px;
    color: #666;
  }
  
  .input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .input-group input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .login-btn {
    width: 100%;
    padding: 12px;
    background: #ff9900;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .login-btn:hover {
    background: #cc7a00;
  }
  
  .register-link {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #666;
    text-align: center;
  }
  
  .register-link a {
    text-decoration: none;
    color: #007bff;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }
  
  